*{
  background-color: #E0FFFF;
}
h1 {
  text-align: center;
}

h2 {
  color: #993300;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	    box-sizing: border-box;
}
.large_box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
   box-sizing: content-box;
   margin-top: 0px;
   margin-bottom: 0px;
   border: 3px;
   border-radius: 10px;
   background-color: #E0FFFF;
   display: flex;
}
.large_title {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 2px;
  width: 100%;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: #E0FFFF;
}

.lesson_highlights {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 2px;
  width: 20%;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: #E0FFFF;
}
.lesson_notes {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin: 2px;
  width: 80%;
  border: 3px solid blue;
  border-radius: 10px;
  background-color: #E0FFFF;
    }
  .screenshot {
  width: 40%;
  left: 5%;
}

span.code {
    font-family: Courier;
    background-color: #BBBBBB;
    padding: 1px 3px;
    font-weight: bold;
}
